<template name="Articles">
  {{#ionView}}
    {{#ionContent}}

      <h1>Articles</h1>

        {{#ionList}}
          {{#if Template.subscriptionsReady}}
            {{#each articles}}
              {{#ionItem class="row" iconRight=true}}
                <h2><a href="{{pathFor 'article'}}">{{title}}</a></h2>
                {{> ionIcon icon="ios-arrow-right" class="assertive"}}
              {{/ionItem}}
            {{/each}}
          {{/if}}
        {{/ionList}}

    {{/ionContent}}
  {{/ionView}}

  {{#ionTabs class="tabs-positive tabs-icon-top"}}
    {{> ionTab title="Home" path="home" iconOff="ios-home" iconOn="ios-home"}}
    {{> ionTab title="Settings" path="settings" iconOff="ios-gear-outline" iconOn="ios-gear-outline"}}
  {{/ionTabs}}
</template>
