<template name="Home">
  {{#ionView}}
    {{#ionContent}}

      <h1>Home</h1>

        {{#ionList}}
          {{#if Template.subscriptionsReady}}
            {{#each articles}}
              {{#ionItem class="row" iconRight=true}}
                {{articles}}
                {{> ionIcon icon="ios-arrow-right" class="assertive"}}
              {{/ionItem}}
            {{/each}}
          {{/if}}
        {{/ionList}}

    {{/ionContent}}
  {{/ionView}}

  {{#ionTabs class="tabs-positive tabs-icon-top"}}
    {{> ionTab title="Articles" path="articles" iconOff="ios-paper" iconOn="ios-paper"}}
    {{> ionTab title="Settings" path="settings" iconOff="ios-gear-outline" iconOn="ios-gear-outline"}}
  {{/ionTabs}}
</template>
